#title
{
	margin-top:275px;
	width:9000px;
}

#a
{
    width:900px;
	margin:auto;
}

#b
{
	margin-left:15px;
	float:left;
	width:600px;
}

#c
{
    margin:5px;
	float:left;
}

.back
{
	width:250px;
}

h1
{
	color:pink;
	font-size:60px;

}

#g
{
	float:right;
	width:220px;
}

#h
{
	background-color:#C8C8C8;
	height:60px;
	margin:0 5px 0 5px;
}

#i
{
	background-color:#330000;
	height:60px;
	margin:0 5px 0 5px;
}

#j
{
	height:245px;
	background-color:#00CCFF;
	margin:0 5px 0 5px;
}

#k
{
	height:60px;
	background-color:#33CC66;
	margin:0 5px 0 5px;
}

#l
{
	height:60px;
	background-color:#339933;
	margin:0 5px 0 5px;
}

#time
{
    color:#FF00FF;
}

#cscore
{
	color:#FF0033;
}
